{# bootstrap navbar entries for RESTful APIs #}
<li class="nav-item dropdown mx-3">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        RESTful APIs
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/rest/">Developer Tools <small class="text-secondary">(DRF)</small></a></li>
        <li><a class="dropdown-item" href="/rest/swagger/">Documentation <small class="text-secondary">(Swagger)</small></a></li>
        <li><a class="dropdown-item" href="/rest/redoc/">OpenAPI Spec <small class="text-secondary">(ReDoc)</small></a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/rest/schema/">Schema</a></li>
    </ul>
</li>
