<table class="table table-condensed table-bordered table-striped" data-toggle="table" data-search="true"
       data-flat="true" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true"
       data-show-export="true" data-reorderable-columns="true" data-resizable="false" data-export-types="['excel','csv','txt','sql']">
    <thead>
    <tr>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="created_at" data-sortable="true">Created At</th>
        <th data-field="updated_at" data-sortable="true">Updated At</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
