<table class="table table-condensed table-bordered table-striped" data-toggle="table" data-search="true"
       data-flat="true" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true"
       data-show-export="true" data-reorderable-columns="true" data-resizable="false" data-export-types="['excel','csv','txt','sql']">
    <thead>
        <tr>
            <th data-field="created_at" data-sortable="true">Created At</th>
            <th data-field="date_time" data-sortable="true">Date Time</th>
            <th data-field="description" data-sortable="true">Description</th>
            <th data-field="duration" data-sortable="true">Duration</th>
            <th data-field="group" data-sortable="true">Group</th>
            <th data-field="id" data-sortable="true">Id</th>
            <th data-field="location" data-sortable="true">Location</th>
            <th data-field="name" data-sortable="true">Name</th>
            <th data-field="updated_at" data-sortable="true">Updated At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in queryset %}
        <tr>
            <td>{{ row.created_at }}</td>
            <td>{{ row.date_time }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.duration }}</td>
            <td>{{ row.group }}</td>
            <td>{{ row.id }}</td>
            <td>{{ row.location }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.updated_at }}</td>
            <td></td>
    </tr>
        {% endfor %}
    </tbody>
</table>