{% extends BASE_TEMPLATE|default:"base.htm" %}
{% load static %}

{% block local_head %}
    {% include 'handyhelpers/component/chartjs_components.htm' %}
{% endblock %}

{% block content %}
<section class="animated fadeIn" style="animation-delay: .15s;">
    <header class="m-5">
        <div class="headline text-center">
            <div class="container">
                <div class="h1 text-primary fw-bold mb-3">{{ PROJECT_NAME }} Dashboard</div>
            </div>
        </div>
    </header>
</section>

<section>
    <div class="container-fluid my-5 animated fadeIn" style="animation-delay: .25s;">
    </div>
</section>

{% include 'handyhelpers/report/theme_colors.htm' %}
{% with orders_by_status as chart %}{% include 'handyhelpers/report/chartjs/bar_chart.htm' %}{% endwith %}
{% with orders_by_brand as chart %}{% include 'handyhelpers/report/chartjs/bar_chart.htm' %}{% endwith %}

{% endblock content %}
    