
<li class="nav-item dropdown mx-3">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Reports
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/main_app/annual_progress/">Annual Progress</a></li>
        <li><a class="dropdown-item" href="/main_app/annual_stats/">Annual Stats</a></li>
        <li><a class="dropdown-item" href="/main_app/annual_trends/">Annual Trends</a></li>
    </ul>
</li>
